<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852470150994-63u0e5fpetsqi7732gqoh1oraq7f71dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852470150994-63u0e5fpetsqi7732gqoh1oraq7f71dd</string>
	<key>API_KEY</key>
	<string>AIzaSyCerDK6Gi5qbTiiwZ4m_P7BkCL790tUta8</string>
	<key>GCM_SENDER_ID</key>
	<string>852470150994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>danilSabitov.weatherApp</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-898a8</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-898a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852470150994:ios:b1a749c59242895511ac8b</string>
</dict>
</plist>